<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head th:replace="/fragments/headers::common"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/home.css}" />
</head>
<body class="skin-blue sidebar-mini  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="app">
    <div class="wrapper">
        <div class="bs-example">
            <!-- Button HTML (to Trigger Modal) -->
            <a href="#" class="btn btn-lg btn-primary">Launch Demo Modal</a>
            <div id="wrapper">
                <div id="origin" class="fbox">
                    <img src="http://placehold.it/140x100" id="one" title="one" class="draggable" />
                    <img src="http://placehold.it/150x100" id="two" title="two" class="draggable" />
                    <img src="http://placehold.it/160x100" id="three" title="three" class="draggable" />
                    <div class="demo">Move Me!!... Resize Me!!...</div>
                </div>
                <p>test</p>
                <div id="drop" class="fbox">

                </div>
            </div>
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade"></div>
        </div>
    </div>


</div>
<script th:replace="/fragments/scripts::common"></script>
<script type="text/babel" th:src="@{/js/home/main.jsx}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".btn").click(function(){
            $("#myModal").modal('show');
        });
    });
</script>
<script type="text/javascript">
    $(function() {
        $(".draggable").draggable({ cursor: "crosshair", revert: "invalid"});
        $("#drop").droppable({ accept: ".draggable",
            drop: function(event, ui) {
                console.log("drop");
                $(this).removeClass("border").removeClass("over");
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);


            },
            over: function(event, elem) {
                $(this).addClass("over");
                console.log("over");
            }
            ,
            out: function(event, elem) {
                $(this).removeClass("over");
            }
        });
        $("#drop").sortable();

        $("#origin").droppable({ accept: ".draggable", drop: function(event, ui) {
            console.log("drop");
            $(this).removeClass("border").removeClass("over");
            var dropped = ui.draggable;
            var droppedOn = $(this);
            $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);


        }});

        $('.demo').draggable().resizable();
    });

</script>
</body>
</html>