<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccteam.datasource.admin.AdminMapper">
    <resultMap id="admin" type="com.ccteam.model.admin.Admin">
        <id property="adminId.value" column="admin_id" />
        <result property="adminUsername.value" column="username"/>
        <result property="adminEmail.value" column="email"/>
        <result property="adminRole" column="role"/>
        <result property="adminCode.value" column="code"/>
        <result property="adminStatus.value" column="status"/>
        <result property="adminStartDate.date" column="startDate"/>
        <result property="adminEndDate.date" column="endDate"/>
        <result property="adminPassword.password.value" column="password"/>
    </resultMap>
    <select id="findByUsername" resultMap="admin">
        SELECT
        account_id as admin_id
        , username
        , email
        , password
        , role
        , code
        , status
        , start_date as startDate
        , end_date as endDate
        FROM
        account
        WHERE
        username = #{adminUsername.value}
    </select>
</mapper>