<!--/*/ <th:block th:fragment="common"> /*/-->
  <script type="text/javascript" th:src="@{/js/lib/jquery-1.9.1.min.js}" />
  <script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}" />
  <script type="text/javascript" th:src="@{/js/lib/pace.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/app.min.js}"></script>
  <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/react-15.2.1.js}" />
  <script type="text/javascript" th:src="@{/js/lib/react-dom-15.2.1.js}" />
  <script type="text/javascript" th:src="@{/js/lib/browser-5.8.23.min.js}" />

<!--/*/ </th:block> /*/-->
