<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="/fragments/headers::common"></head>
    <link rel="stylesheet" type="text/css" th:src="@{/css/profiles/profile.css}" />
</head>
<body class="skin-blue sidebar-mini  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="app">
    <div class="wrapper">
        <header th:replace="/fragments/menus::header"></header>
        <aside th:replace="/fragments/menus::sidebar"></aside>
        <div class="content-wrapper" style="min-height: 620px;">
            <section class="content-header">
                <h1> THÔNG TIN CÁ NHÂN <small> Hiển thị toàn bô thông tin cùa bạn.</small></h1>
                <ol class="breadcrumb">
                    <li><a href="javascript:;"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">Information</li>
                </ol>
            </section>
            <section class="content">
                <div class="block-grey">
                    <table>
                        <tbody>
                            <tr>
                                <td class="font-weight-m">Name</td>
                                <td class="text-right">John Doe</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Date of birth</td>
                                <td class="text-right">November 24, 1990</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">E-mail</td>
                                <td class="text-right"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Address</td>
                                <td class="text-right">144 King St, Melbourne VIC</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Phone</td>
                                <td class="text-right"><a href="tel:01234567890">012-3456-7890</a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Website</td>
                                <td class="text-right"><a href="www.themeforest.net">www.themeforest.net</a></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="font-weight-m">
                                    <i class="fa fa-circle green-marker" aria-hidden="true"></i>Available for freelance
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <footer th:replace="/fragments/footers::footer"></footer>
    </div>
</div>
<script th:replace="/fragments/scripts::common"></script>

</body>
</html>